.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;

  .content {
    background-color: #fff;
    padding: 25px;
    display: block;
  }
  .price {
    font-weight: bold;
  }
}
